{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "semantic-release-circleci-orb",
      {
        "commandName": "/home/circleci/circleci",
        "orbName": "selfapy/react-native-orb",
        "orbPath": "packed-orb.yml"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "package.json"],
        "message": "chore(release): ${nextRelease.version} [skip ci] \n\n${nextRelease.notes}"
      }
    ]
  ]
}
